html , body{
	width: 100%;
	height:100%;
	margin:0px;
}
a{
	text-decoration: none;
}
.bg1, .bg2, .bg3 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
	height: 100%;
	background-size: 100% 100%;
}
.back{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-image: url("../images/b1.jpeg");
	background-attachment: fixed;
	opacity: 0.6;
}
.bg2{
	background-image: url("../images/b2.jpg");
	opacity:0.6;
}
.bg3{
	background-image: url("../images/b4.jpg");
	opacity: 0.5;
}
.portfolio{
	font-family: 'Engagement', cursive;
	position:absolute;
	top:40%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size: 3rem;
}
.bars{
	width: 30px;
	height: 5px;
	background:rgb(12,63,124);
	margin: 6px 0 0 0 ;
	border-radius: 2px;
	right: 0;
	text-align:right;
	justify-content: right;
}
.navbar{
	position: fixed;
	padding: 15px;
	z-index: 30;
	right:0;
	float: right;
}

.menu{
	padding: 5px 8px;
	margin-right: 0px;
	cursor: pointer;
	right: 0;
	float: right;
}
.d{
	clear:both;
}
.n{
	text-align: center;
	display:none;
}
.background{
	background-color: #ccddff;
}
.tabs1{
    color: #0060B6;
    font-size:1.6em;
    text-decoration: none;
    transition-property: color , font-size;
  	transition-duration: 0.2s;
  	transition-timing-function: linear;
  	margin: 0 20px;
  	font-family: 'Berkshire Swash', cursive;
}

.tabs1:hover 
{
     color:#00004d; 
     font-size: 2.4em;      
}
.tabs2{
    color: #0060B6;
    font-size: 2.5em;
    text-decoration: none;
    transition-property: color , font-size;
  	transition-duration: 0.2s;
  	transition-timing-function: linear;
  	margin: 0 20px;
  	font-family: 'Berkshire Swash', cursive;
}

.tabs2:hover 
{
     color:#00004d; 
     font-size: 2.6em;      
}
.tabs3{
    color: #0060B6;
    font-size: 2em;
    text-decoration: none;
    transition-property: color , font-size;
  	transition-duration: 0.2s;
  	transition-timing-function: linear;
  	margin: 0 20px;
  	font-family: 'Berkshire Swash', cursive;
}

.tabs3:hover 
{
     color:#00004d; 
     font-size: 2.1em;      
}
.menu-res{
	padding:2vh 0 ;
	display: none;
	opacity: 0;
	transition: opacity 1s;
	font-size: 1.5em;
	float: right;
	text-align: right;
}
.menu-res div {
	padding:5px 1vw;
}
.menu-res a{
	text-decoration: none;
	color: rgb(11,55,111);
}
.block1{
	padding:10vh;
	font-family: 'Roboto', cursive;
	font-size: 1.5em;
	background:rgba(204,221,255,.8);
}
.int{
	padding:8vh 0;
	text-align: center;
	background:rgba(204,221,255,.8);
}
.img{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin: 3vw;
	transition: 0.3s linear;
}
.img:hover{
	transform: scale(1.2,1.2);
	opacity: 0.8; 
}
.block2{
	padding:10vh;
	text-align: center;
	font-family: 'Roboto', cursive;
	font-size: 1.5em;
	background-color: #99bbff;
}
.about{
	margin: 0 2vw;
	font-size: 0.6em;
}
.meet{
	margin: 10px 2vw;
	font-size: 0.6em;
}
.t{
	text-align: center;
	font-family: 'Engagement', cursive;
	font-size: 1.5em;
}
.footer{
	text-align: center;
	padding: 10px;
	background-color: #00091a;
	color: white;
	font-size: 0.8em;
}
.logo{
	margin:5px;
	height: 50px;
	width:50px;
	border-radius: 50%;
	transition: 0.3s linear;
}
.logo:hover{
	transform: scale(1.2,1.2);
	opacity: 0.8;
}

.s{
	margin:2vh 10vw;
}
.skill { 
  display: block;
  margin-bottom: 20px;
  font-size: 0.8em;
}

.skill .bar {
  display: block;
  height: 25px;
  line-height: 25px;
  width: 500px;
  padding: 3px 4px;
  box-sizing: content-box;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #969492;
  background-color: #dadada;
  background-image: linear-gradient(top, #efeaea, #dadada);
}

.skillbar {
  display: block;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  color: #414141;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.55);
  border-radius: 4px;
  background-color: #4cc958;
  background-image: linear-gradient(top, #68e574, #4cc958);
}


/** css3 animations **/
/** fill modes: http://stackoverflow.com/a/20274314/477958 **/
.htmlcss{
  animation: htmlcss 1.5s ease-in-out forwards;
}

.b{
  animation: b 1.5s ease-in-out forwards;
}

.coding{
  animation: coding 1.5s ease-in-out forwards;
}

.php{
  animation: php 1.5s ease-in-out forwards;
}

.sql{
  animation: sql 1.5s ease-in-out forwards;
}

@keyframes htmlcss {
  0%   { width: 0px; }
  100% { width: 70%; }
}

@keyframes b{
  0%   { width: 0px; }
  100% { width: 60%; }
}

@keyframes coding {
  0%   { width: 0px; } 
  100% { width: 40%; }
}

@keyframes php {
  0%   { width: 0px; } 
  100% { width: 60%; }
}

@keyframes sql {
  0%   { width: 0px; } 
  100% { width: 50%; }
}
@media all and (min-width: 1024px) {
	.navbar{
		width: 100%;
	}
	.n{
		display: block;
	}
	.menu{
		display: none;
	}
	.block1{
		padding: 15vh;
		font-size: 2em;
	}
	.block2{
		padding: 15vh;
		font-size: 2em;
	}
	.about{
		margin: 0 7vw;
	}
	.meet{
		margin: 10px 7vw;
	}
	.menu-res{
		display: none;
	}
}
@media all and (max-width: 600px){
	.skill .bar{
		width: 80%;
		text-align: center;
	}
	.s{
		margin: 0;
		margin-top: 2vh;
	}

}
@media all and (max-width: 300px){
	.img{
		height: 150px;
		width:150px;
	}
}
